<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="/style/shcss.css" rel="stylesheet">

    <title>User List</title>
</head>

<body>
    <div class="back_btn_section_1">
        <div class="back_btn_1" onclick="location.href='/'">
            < BACK </div>
        </div>
        <div class="main_title_2">
            <p class="main_title_text_1">
                <%= field.field_name %>
            </p>
            <p class="main_title_text_2" style="margin-bottom:60px;">
                <%= field.field_addr %>
            </p>
        </div>
        <div class="user_list_menu_section">
            <div class="user_list_menu" style="width:100px;">No.</div>
            <div class="user_list_menu" style="width:350px;">이름</div>
            <div class="user_list_menu" style="width:350px;">온도</div>
            <div class="user_list_menu" style="width:350px;">습도</div>
            <div class="user_list_menu" style="width:350px;">광량</div>
            <div class="user_list_menu" style="width:350px;">상태</div>
        </div>
        <div class="scroll">
            <% worker.forEach(_=> { %>
                <div class="user_list_section" onclick="location.href='../userDashboard/<%= _.Helmet.helmet_id %>'">
                    <div class="user_list" style="width:100px;">
                        <%= _.worker_id %>
                    </div>
                    <div class="user_list" style="width:350px;">
                        <%= _.worker_name %>
                    </div>
                    <div class="user_list" id="user<%= _.Helmet.helmet_id %>_temp" style="width:350px;">
                        <%= _.Helmet.temp %>ºC
                    </div>
                    <div class="user_list" id="user<%= _.Helmet.helmet_id %>_humid" style="width:350px;">
                        <%= _.Helmet.humid %> %
                    </div>
                    <div class="user_list" id="user<%= _.Helmet.helmet_id %>_lightness" style="width:350px;">
                        <%= _.Helmet.photoresistor %>lx
                    </div>
                    <div class="user_list" id="user<%= _.Helmet.helmet_id %>_status" style="width:350px;">오프라인</div>
                </div>
                <% }); %>
        </div>
        <script>
            const helmet_id = [];

            //get ids from ejs
            <% worker.forEach(element => { %>
                helmet_id.push(<%= element.Helmet.helmet_id %>);
            <% });%>

                function socketCallback() { }

            function userStatus(temp, shock, helmet_id) {
                if (shock) {
                    $("#user" + helmet_id + "_status").html("충격감지");
                    $("#user" + helmet_id + "_status").css('color', '#ED1C24');
                }

                else if (temp > 33) {
                    $("#user" + helmet_id + "_status").html("현장 온도 높음");
                    $("#user" + helmet_id + "_status").css('color', '#ED1C24');
                }

                else {
                    $("#user" + helmet_id + "_status").html("양호");

                    // change color when on hover
                    $("#user" + helmet_id + "_status").hover(function () {
                        $(this).css('color', 'white');
                    }, function () {
                        $(this).css('color', '#081547');
                    });
                }
            }
        </script>
        <script src="/js/userListA.js"></script>
</body>

</html>